{% extends "base.html" %}
{% block title %}
<title>機台管理系統</title>
<style>
    h1,h2,h3{
        text-align: center;
    }
    table, th, td{
        border: 1px solid;
        border-collapse: collapse;
    }
    table{
        margin-left: auto;
        margin-right: auto;
    }
    .head_content{
        margin-bottom: 24px;
    }
    .search,.home{
        text-align: center;
    }
</style>
{% endblock title %}

{% block content %}
<div class="head_content">
    <h1 class="title">加盟店 : {{ store_name }}</h1>
    <h1 class="title">機台管理系統</h1>
    <h2>目前的交易筆數:{{ trade_count }}
    {% comment %} <div class="search">
        <form action="/index/" method="get">
            <label for="site_search">搜尋關鍵字</label>
            <input type="search" id="site_search" name="site_search">
            <button type="submit">搜尋</button>
        </form>
    </div> {% endcomment %}
</div>
{% if status %}
    <table>
        <tr><th>使用者</th><th>交易時間</th><th>金額</th></tr>
        {% for username, data in combined_data %}
            <tr>          
                <td>{{ username }}</td>
                <td>{{ data.created_at }}</td>
                <td>{{ data.price }}</td>
            </tr>
        {% endfor %}
    </table>
    <h1 class="title">總金額: {{ total_price }}</h1>
{% else %}
    <h1>無資料</h1>
{% endif %}
<div class="home">
    <a href="/index/">回首頁</a>
</div>

{% endblock content %}


